/* Import font google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    background-color: #ededed;
    font-family: "Poppins", sans-serif;
  }
}

@layer utilities {
  .contener {
    max-width: 1200px;
    margin: 0 auto;
  }
}
